<div class="site-wrapper">

  <div class="site-wrapper-inner">

    <div class="cover-container">

      <div class="masthead clearfix">
        <div class="inner">
          <h3 class="masthead-brand">URL Shortener</h3>
          <nav>
            <ul class="nav masthead-nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#">Features</a></li>
              <li><a href="#">Contact</a></li>
            </ul>
          </nav>
        </div>
      </div>

      <div class="inner cover">
        <h1 class="cover-heading"><strong>URL Shortener</strong></h1>
        <p class="lead">Inserte su URL para obtener una url acortada.</p>
				<form class="col-xs-12" role="form" ng-submit="mainVM.getShorterUrl()">
					<div class="input-group">
			      <input type="text"
			      			 class="form-control" 
			      			 placeholder="Inserte su url..."
			      			 ng-model="mainVM.url">
			      <span class="input-group-btn">
			        <button class="btn btn-primary" type="submit">Acortar</button>
			      </span>
			    </div>
				</form>
			</div>

			<div class="row">
				<div class="col-xs-12 text-center">
					<br />
					<!-- Alert -->
	      	<div ng-class="{'alert alert-success': !mainVM.error, 'alert alert-danger': mainVM.error}"
						 	 ng-if="mainVM.shorterUrl !== ''">
						<a href="{{mainVM.shorterUrl}}"
						   ng-if="!mainVM.error"
						   target="_blank"
						   class="alert-link">
						   	{{mainVM.shorterUrl}}
						</a>
						<p ng-if="mainVM.error">
							{{mainVM.shorterUrl}}
						</p>
					</div>
					<!-- /Alert -->
				</div>
			</div>

      <div class="mastfoot">
        <div class="inner">
          <p>Proyecto de la asignatura <a href="">Ingeniería web</a>, realizado por el <a href="">grupo 4</a>.</p>
        </div>
      </div>

    </div>

  </div>

</div>