<div class="site-wrapper">

  <div class="site-wrapper-inner">

    <div class="cover-container">

      <div class="masthead clearfix">
        <div class="inner">
          <h3 class="masthead-brand">URL Shortener</h3>
          <nav>
            <ul class="nav masthead-nav">
              <li><a ui-sref="main">Home</a></li>
              <li class="active"><a href="#">Locations</a></li>
              <li><a href="#">Contact</a></li>
            </ul>
          </nav>
        </div>
      </div>

      <div class="row">
	    	<p class="lead">Inserte su URI para ver las localizaciones asociadas a ella.</p>
	    	<div class="input-group">
		      <input type="text"
		      			 class="form-control" 
		      			 placeholder="Inserte su uri..."
		      			 ng-model="listVM.uri">
		      <span class="input-group-btn">
		        <button class="btn btn-primary" 
		        				type="button"
		        				ng-click="listVM.getLocation()">Ver</button>
		      </span>
		    </div>

		  	<div class="panel panel-default mt-sm"
		  			 ng-if="listVM.locations.length !== 0"
		  			 style="margin-top: 10px">
		  		<div class="panel-heading">
				    <table class="table table-striped">
				    	<thead>
	              <tr>
	                <th class="col-xs-1 text-center">#</th>
	                <th class="col-xs-2 text-center">Fecha</th>
	                <th class="col-xs-2 text-center">Hora</th>
	                <th class="col-xs-3 text-center">Organización</th>
	                <th class="col-xs-2 text-center">Ciudad</th>
	                <th class="col-xs-2 text-center">Pais</th>
	              </tr>
	            </thead>
	            <tbody>
							  <tr ng-repeat="location in listVM.locations">
							  	<!-- rowId -->
			            <td class="col-xs-1 text-center">
			              {{ ::location.id }}
			            </td>
			            <!-- /rowId -->

			            <!-- date -->
			            <td class="col-xs-2 text-center">
			              {{ ::location.created | date : 'dd/MM/yy' }}
			            </td>
			            <!-- /date -->

			            <!-- time -->
			            <td class="col-xs-2 text-center">
			              {{ ::location.created | date : 'HH:mm' }}
			            </td>
			            <!-- /time -->

			            <!-- organization -->
			            <td class="col-xs-3 text-center">
			              {{ ::location.organization }}
			            </td>
			            <!-- /organization -->

			            <!-- city -->
			            <td class="col-xs-2 text-center">
			              {{ ::location.city }}
			            </td>
			            <!-- /city -->

			            <!-- country -->
			            <td class="col-xs-2 text-center">
			              {{ ::location.country }}
			            </td>
			            <!-- /country -->
			        	</tr>
	            </tbody>
						</table>
					</div>
				</div>
		  </div>

      <div class="mastfoot">
        <div class="inner">
          <p>Proyecto de la asignatura <a href="">Ingeniería web</a>, realizado por el <a href="">grupo 4</a>.</p>
        </div>
      </div>

    </div>

  </div>

</div>